styles/
obj/
bin/
build/
EhBuild/
drop/
merged/
fubu-content/
compass-images/
fubu-packages/
_ReSharper.*
bundle.*
*.user
*.suo
*.swp
*.swo
*.cache
~$*
*.stresult
*.
*.pidb
*.userprefs
TestResults/
*sass-cache/
*.esent
*.vsp*
*~
*.zip
*.scssc
*.orig
*.vsmdi
.bundle
Publish/
*Created by rakefile*
packages/
iisexpress/tempIIS.config
lib/**/link/
*/*/content/*.css
*.DotSettings
*.ncrunch*
*.dotCover
logs/
SRV
bottles.cmd
storyteller.cmd
run_st.cmd
src/WorkforceAndTaskManager/fubutransportation*
.paket/paket.exe
.vs/
node_modules/
npm-debug.log
output.html
